extends ../layout

block content 

  body
  
    if errorMessage
      if Array.isArray(errorMessage)
        .alert.alert-danger(role="alert")
          ul.mb-0
            each e in errorMessage
              li #{e}
      else
        .alert.alert-danger(role="alert") #{errorMessage}


    .container.mt-5
    .row.justify-content-center
      .col-md-8
        .card.shadow-lg
          .card-header.bg-primary.text-white.text-center
            h2.mb-0 Editar de Cliente
          .card-body
            form(action=`/cliente/actualizar/${cliente.idCliente}?_method=PUT` method="post")
              .row.mb-3
                .col-md-6
                  label.form-label(for="nombre") Nombre:
                  input.form-control(type="text" name="nombre" id="nombre" value = `${cliente?cliente.nombre:''}` required)
                .col-md-6
                  label.form-label(for="apellido") Apellido:
                  input.form-control(type="text" name="apellido" id="apellido" value = `${cliente?cliente.apellido:''}` required)

              .row.mb-3
                .col-md-6
                  label.form-label(for="dni") DNI:
                  input.form-control(type="text" name="dni" id="dni" value = `${cliente?cliente.dni:''}` required)

              .row.mb-3
                .col-md-6
                  label.form-label(for="telefono") Teléfono:
                  input.form-control(type="text" name="telefono" id="telefono" value = `${cliente?cliente.telefono:''}` required)
                .col-md-6
                  label.form-label(for="email") Email:
                  input.form-control(type="email" name="email" id="email" value = `${cliente?cliente.email:''}` required)
              .d-flex.justify-content-between.mt-4
                button.btn.btn-success(type="submit") Enviar
                a.btn.btn-secondary(href="/cliente/index") Volver
