extends ../layout 

block content 

    if message
      .alert.alert-success(role="alert") #{message}

    h1.text-center Listado de Clientes 

    div 
        if clientes.length === 0
            p.text-center No tienes clientes
        else 
            table#myTable.table.table-striped 
                thead 
                    tr 
                        th id
                        th Nombre 
                        th Apellido 
                        th Dni 
                        th Email 
                        th Telefono 
                        th Estado 
                        th Opciones
                tbody 
                    each c in clientes 
                        tr
                            td #{c.idCliente}
                            td #{c.nombre}
                            td #{c.apellido}
                            td #{c.dni}
                            td #{c.email}
                            td #{c.telefono}
                            td #{c.estado? 'activo': 'inactivo'}
                            td.btn-group 
                                form(action=`/cliente/info/${c.idCliente}`, method="get")
                                    button(type ="submit" class="btn btn-info") ver 
                                form(action=`/cliente/editar/${c.idCliente}`, method="get") 
                                    button(type = "submit" class="btn btn-dark") Editar
                                form(action=`/contrato/info/${c.idCliente}`, method="get")
                                    button(type="submit" class="btn btn-warning") Contratos 

                                if c.estado 
                                    form(action=`/cliente/baja/${c.idCliente}?_method=PATCH`, method="POST", onsubmit="return confirm('¿Desea realmente desactivar este cliente?');")
                                        button(type="submit" class="btn btn-danger") Desactivar
                                else
                                    form(action=`/cliente/activar/${c.idCliente}?_method=PATCH`, method="post")
                                        button(type="submit" class="btn btn-success") Activar 
    
        form(action="/cliente/registrar", method="get")
            button(type="submit" class="btn btn-success") Registrar Cliente 