extends ../layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .card.shadow-lg.rounded
          .card-body
            h3.card-title.text-center Perfil de Cliente
            hr
            ul.list-group.list-group-flush
              li.list-group-item
                strong Nombre: 
                |  #{cliente.nombre}
              li.list-group-item
                strong Apellido: 
                |  #{cliente.apellido}
              li.list-group-item
                strong DNI: 
                |  #{cliente.dni}
              li.list-group-item
                strong Email: 
                |  #{cliente.email}
              li.list-group-item
                strong Teléfono: 
                |  #{cliente.telefono}
              

            .mt-4.d-flex.justify-content-between
              form(action=`/contrato/info/${cliente.idCliente}`, method="get") 
                button(type="submit" class="btn btn-dark") Contratos
              form(action=`/cliente/editar/${cliente.idCliente}`, method="get") 
                  button(type = "submit" class="btn btn-primary") Editar
              if cliente.estado 
                form(action=`/cliente/baja/${cliente.idCliente}?_method=PATCH`, method="POST", onsubmit="return confirm(`¿Desea realmente desactivar este alumno?');")
                  button(type="submit" class="btn btn-danger") Desactivar
              else 
                form(action=`/cliente/activar/${cliente.idCliente}?_method=PATCH`, method="post")
                  button(type="submit" class="btn btn-success") Activar 
              a.btn.btn-secondary(href='/cliente/index') Volver
